.templates{
    font-size: 50px;
    display: flex;
    justify-content: space-around;
}

.pinkback:hover,
.yellowback:hover,
.blueback:hover,
.brownback:hover,
.orangeback:hover,
.whiteback:hover{
    transform: scale(1.03);
    cursor: pointer;
}

.chosenone{
    text-align: center;
    margin-top: 30px;
    /* border-style: solid;
    border-color: black;
    /* border-width: 2px; */
    /* border-right-style: solid;
    border-right-color: black;  */
}

.topsec{
    display: flex;
    justify-content: left;
    margin-left: 380px;
    margin-top: -30px;
}

.blackcirclesec {
    width:60px;
}

.namesection,
.handlesection {
    margin-left: 12px;
    margin-top: 15px;
}

.template{
    margin-top: 1px;
}

.imagetext {
    margin-top: -300px;
    margin-left: 390px;
    font-size: 30px;
    text-align: left;
    max-width: 520px;
    word-wrap: break-word;
}

.belowimagetext {
    margin-top: 250px;
    margin-left: 390px;
    text-align: left;
    max-width: 570px;
    word-wrap: break-word;
}

.inputboxes{
    text-align: left;
    margin-left: 370px;
    margin-top: 20px;
}

.lines{
    opacity: 60%;
    align-items: center;
    width: 650px;
}

input{
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid aqua;
}

input:focus{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.footersec{
    background-color: black;
    color: white;
    text-decoration: blue;
    text-align: center;
}