.heading{
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-between;
}

.externallinktovid{
    font-size: 23px;
    margin-top: 4px;
}

.inImageText{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: -350px;
    /* border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: aqua; */
}
.templatessection{
    margin-top: 300px;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
}
.templatesgiven{
    margin-top: 35px;
}